body{
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.heart-container {
    animation: heartbeat 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    80% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .heart-icon {
    color: red;
    font-size: 32px;
  }
  